.bloomberg-newsletter-sec {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial Black,Arial,Helvetica,sans-serif;
    letter-spacing: -1px;
    border-bottom: 1pt #000000 dotted;
    padding-bottom: 5px;
}
.bloomberg-newsletter-para {
    font-size: 13pt;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin: 1em auto;
}

.bloomberg-newsletter-hilight {
    background-color: #CCCCCC;
    border-bottom: 1pt #000000 solid;
    text-decoration: none;
}
