.bloomberg-newsletter-sec {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial Black,Arial,Helvetica,sans-serif;
    letter-spacing: -1px;
    border-bottom: 1pt #000000 dotted;
    padding-bottom: 5px;
}
.bloomberg-newsletter-para {
    font-size: 13pt;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin: 1em auto;
}

.bloomberg-newsletter-hilight {
    background-color: #CCCCCC;
    border-bottom: 1pt #000000 solid;
    text-decoration: none;
}

.rank-sec {
    display: flex;
    margin-bottom: -5px;
    width: 100%;
}

/*.rank-sec {
    background: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
    border-radius: 50%;
    line-height: 2;
    width: 30px;
    height: 30px;
    margin-left: -8px;
}*/

.rank {
    background: black;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    margin-left: 0;
}

.moveup {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: limegreen;
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin-left: -10px;
}

.short {
    display: flex;
}

.basics.item-1, .basics.item-3, .basics.item-5 {
    border-right: 2px black solid;
}

.row-1, .row-2, .row-3 {
    padding: 0;
    border-width: 2px 2px 0 2px;
    border-color: black;
    border-style: solid;
}

.basics {
    flex: 2;
    font-family: sans-serif;
    background: whitesmoke;
    padding: 0 2px;
    margin-top: 0;
    margin-bottom: 0;
}

.basics:nth-of-type(3) {
    flex: 1;
}

.label {
    text-transform: uppercase;
    padding: 0 1px;
    margin: 5px 0 0 0;
    font-size: 9px;
    line-height: 11px;
    display: block;
}

.long {
    font-family: sans-serif;
    margin: 0 0 5px 0;
    padding: 5px;
    line-height: 1.2;
    border-width: 2px 2px 2px 2px;
    border-color: black;
    border-style: solid;
}

.long-label {
    display: block;
    width: fit-content;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: black;
    color: whitesmoke;
    padding: 0 3px;
}

.did-you-know, .timeline {
    margin-top: 20px;
}

.did-you-know p {
    padding-top: 0px;
    margin-top: 0px;
}


.timeline p {
    padding-top: 0;
    margin: 3px 2px;
    border-bottom: 1px dotted #CCC;
}

p.timeline-last-para {
    border-bottom-style: none;
}

