.biblio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.column {
    font-size: 16px;
    font-variant: small-caps;
    color: #db3334;
    padding-right: 0.5em;
}

.sub-title {
    font-style: italic;
    font-size: 15pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.author {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.timestamp {
    font-family: sans-serif;
    font-size: smaller;
}

.cap {
    font-family: sans-serif;
    display: block;
    float: left;
    font-size: 310%;
    /* padding-top: 6px; */
    line-height: 80%;
    padding-top: 5px;

}

.caption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 10pt;
    color: rgb(154, 157, 163);
    text-align: center;
    padding-top: 0;
    margin-top: 2px;
    
}